<h1 class="mt-4">Bank Account</h1>
<p class="lead mb-3">Welcome {{user.username}}</p>
<ul class="account_list">
  {{#each total}}
    <li>Chequing account No.: {{this.chequing}}</li>
    <li>Savings account No.: {{this.savings}}</li>
  {{/each}}
</ul>
  <select id="account-selection" required>
            {{#each total}}
            <option value="{{this.chequing}}">{{this.chequing}}</option>
            <option value="{{this.savings}}">{{this.savings}}</option>
            {{/each}}
  </select>
 <input type="radio" id="balance" name="action" value="balance">
  <label for="balance">Balance</label>
  <input type="radio" id="deposit" name="action" value="deposit">
  <label for="deposit">Deposit</label>
  <button id="submit" onclick="replaceLocation()">Submit</button>

<a href="/auth/logout" class="btn btn-secondary" title="logout">{{user.username}}</a>
<script>
function replaceLocation() {
     const val = document.getElementById("account-selection").value;
     if (!val) {
         return;
     }
    if (document.getElementById('balance').checked) {
        window.location.href = `/balance?acc=${val}`
    } else {
        window.location.href = `/deposit?acc=${val}`
    }
}

</script>